@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.appBody{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: url('../img/fractals-environment-1728589_1920.jpg') center/cover;
  font-family: 'Righteous', cursive;
  .filter{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,.5);
    .loading{
      background:#000;
      position:fixed;
      top:0;
      bottom:0;
      left:0;
      right:0;
      color:#995;
      justify-content:flex-end;
      align-items: flex-end;
      display:flex;
      visibility:hidden;
      opacity:0;
      transition:all .5s;
      z-index:10;
      h2{
        font-size:80px;
        padding:50px;
      }
      &.on{
        visibility:visible;
        opacity:1;
      }
    }
  }
}